name: "CI"

on:
  pull_request:

jobs:
  ci:
    name: Build examples and run tests
    runs-on: ubuntu-24.04
    env:
      REACTOR_UC_PATH: ${{ github.workspace }}/reactor-uc
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Clone reactor-uc runtime
        run: git clone https://github.com/lf-lang/reactor-uc.git --recursive

      - name: Install Zephyr dependencies
        uses: ./reactor-uc/.github/actions/zephyr

      - name: Install LFC dependencies
        uses: ./reactor-uc/.github/actions/lingua-franca

      - name: Run tests
        uses: ./.github/actions/run-tests